span{
  font-size: 3rem;
  margin-bottom: 1rem;
}
.space{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.colunm-l{
  width: 70%;
  display: flex;
  flex-direction: column;
}
.colunm-r{
  width: 30%;
  display: flex;
  flex-direction: column;
}
.row{
  display: flex;
  align-items: center;
}
.edt{
  padding: 0.5rem 1rem ;
  background-color: #7B167D;
  margin: 1rem ;
}
.rs{
  padding: 0.5rem 1rem ;
  margin: 1rem;
}


@media (max-width: 500px){
  span{
    font-size: 2rem;
  }
}